
body{
background: #1A3D45;
    padding: 0px;
}
h1{
font-family: Cursive ;
font-size: 100px;
text-align: center;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
}

h1{
	animation: blink 1s 1s ease-in-out forwards infinite;
}
@keyframes blink {
	0% {
		color: #802D72;
		opacity: 1;
	}
	100% {
		color: transparent;
		opacity: 0;
	}
}
.time{
	padding-top: 0px;
    font-size: 48px;
    font-family: cursive;
    color: balck;
	text-align: center;
}